.heading{
  font-size: 2rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.heading:hover{
  color: black;
}
.headerMiddle{
    font-size: 1.3rem;
    font-weight: 500;
}

.fa-check{
    background: black;
    color: white;
    border-radius: 50%;
    font-size: 14px !important;
    padding: 6px;
}