.footer{
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100%;
    background: #fafafa;
    z-index: 1;
}
.footer p{
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
}