.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menuBar{
    font-size: 2rem;
    background: none;
}
.nav-menu{
    width: 350px;
    background-color: black;
    height: 100vh;
    display: flex;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    right: -350px;
    transition: .7s;
    display: grid;
}
.navbar{
    padding-top: 0px !important;
    margin-top: -.7rem !important;
}
.active{
    right: 0px;
    transition: .7s;
}
.menuItem{
    width: 100%;
    padding: 0px;
    height: 100vh;
}
.menuText{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 80px;
    border-bottom: 1px solid white;
}
.fa-bars{
    color: black;
}
.close{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    padding: 0px 20px;
    font-size: 22px;
}
.fa-times{
    color: white;
}
.menuText a{
    text-decoration: none;
    color: white;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    font-size: 19px;
    font-weight: 600;
}
.menuText img{
    height: 15px;
    margin-right: 7px;
    object-fit: contain;
}
.menuText:hover{
    background-color: white;
    color: black;
}
.menuText:hover a{
     color: black;
}


@media (max-width:400px) {
    .nav-menu{
        width: 100%;
        right: -100%;
    }
    .active{
        right:0%;
    }
}