.uploadForm{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.required{
    color: red;
}
.uploadForm p{
    font-size: 25px;
    font-weight: 700;
    margin-top: 2rem;
}
.alert{
    color: red;
}
.success{
    color: green;
}

@media (max-width:580px) {
    .uploadForm{
        margin-bottom: 4rem;
    }
}
@media (max-width:480px) {
    .uploadForm{
        margin-bottom: 2rem;
    }
}
@media (max-width:400px) {
    .uploadForm{
        margin-bottom: 4rem;
    }
}